* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
#navbar {
  background-color: gray;
  color: white;
  padding: 0 5%;
  margin-bottom: 50px;
}

#navbar>ul {
  display: flex;

  list-style-type: none;
}

#navbar li {
  padding: 10px;
}

#navbar a {
  text-decoration: none;
  color: white;
}

.logout-btn {
  cursor: pointer;
}

/* Signup & Login */
.accounts {
  width: 50%;
  margin: auto;
}

.accounts>h1 {
  text-align: center;
  margin-bottom: 30px;
}

.accounts-form {
  width: 100%;
  padding: 30px;
  border: 1px solid black;
}

.accounts-form>div {
  margin-bottom: 20px;
}

.accounts label {
  display: block;
  margin-bottom: 10px;
}

.accounts input {
  width: 100%;
  padding: 5px;
}

/* Home */
#home {
  padding: 50px 5%;
  text-align: center;
}

#home>h1 {
  margin-bottom: 30px;
}

#home>ul {
  list-style-type: none;
}